@{ 
    ViewData["Title"] = "Crear Categoria"; 
}
<h2>Crear Categoria</h2>

<form id="categoryForm">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" type="text" name="name" />
            </div>
        </div>
    </div>
    <div class="button-row">
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        serializeForm = () => {
            var model = {
                name: getInputValue("name"),
            };
            return JSON.stringify(model);
        };
        getInputValue = (input) => {
            let value = $(`#categoryForm input[name=${input}]`).val();

            return value;
        }
        saveCategory = () => {
            $.ajax({
                method: "POST",
                url: "/api/categories",
                contentType: "application/json",
                data: serializeForm(),
            }).done(() => {
                redirectToLocation("/categories");
            })
        };
        handleSubmit = () => {
            $("#categoryForm").on("submit", (event) => {
                event.preventDefault();
                saveCategory();
            });
        }
        $(document).ready(() => {
            handleSubmit();
        })
    </script>
}
