@model WebApp_Cubits.Models.Category

<div>
    <h2>Borrar Categoría</h2>
    <h3>Esta seguro que desea borrar la categoria?</h3>
    <div>
        <form asp-action="Delete" method="post">
            <input type="submit"  value="Borrar" class="btn btn-danger" />
        </form>
    </div>
</div>

