@model WebApp_Cubits.Models.ProductViewModel

<div>
    <h2>Borrar Producto</h2>
    <h3>Esta seguro que desea borrar el producto?</h3>
    <div>
        <form asp-action="Delete" method="post">
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </form>
    </div>
</div>