@model WebApp_Cubits.Models.Provider

<div>
    <h2>Borrar Proveedor</h2>
    <h3>Esta seguro que desea borrar el proveedor?</h3>
    <div>
        <form asp-action="Delete" method="post">
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </form>
    </div>
</div>