@{ 
    ViewData["Title"] = "Editar Proveedor";
}


    <style>
        [v-cloak]{
            display: none;
        }
    </style>

<div class="row" v-scope v-cloak v-on:mounted="getProvider">
    <div class="col-lg-12">
        <h2>Editar Proveedor</h2>

        <form v-on:submit.prevent="submitForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" v-model="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    <input type="text" v-model="description" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Direccion</label>
                    <input type="text" v-model="address" class="form-control" />
                </div>
            </div>
            <div class="button-row">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="/providers" class="btn btn-danger" >Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{ 
    <script src="~/lib/axios/axios.js"></script>
    <script src="~/lib/petite-vue/petite-vue.js"></script>

    <script type="text/javascript">
        const app = {
            name: null,
            description: null,
            address: null,
            get data() {
                return {
                    name = this.name,
                    description = this.description,
                    address = this.address,
                };
            },
            set data(value) {
                this.name = value.name;
                this.description = value.description;
                this.address = value.address;
            },
            async submitForm() {
                const id = getParameterFromUrl("id");
                await axios.put(`/api/providers/${id}`, this.data);
                redirectToLocation("/providers");
            }
        };
        PetiteVue.createApp(app).mount();
    </script>
} 