@{
    ViewData["Title"] = "Cubits Bootcamp";
}

<div class="text-center">
    <img src="./images/cubits.jpeg" alt="cubits" class="img-fluid" style="width: 400px;"/>
    <h1 class="display-4">Cubits - Bootcamp</h1>
    <p>Primer Bootcamp Cubits 2021</p>
</div>
<div class="justify-content-center">
    <h3>Productos</h3>
    <ul>
        <li><a href="/products/create">Crear Producto</a></li>
        <li><a href="/products/index">Lista de Productos</a></li>
    </ul>
    <h3>Categorías</h3>
    <ul>
        <li><a href="/categories/create">Crear Categorías</a></li>
        <li><a href="/categories/index">Lista de Categorías</a></li>
    </ul>
    <h3>Proveedores</h3>
    <ul>
        <li><a href="/providers/create">Crear Proveedores</a></li>
        <li><a href="/providers/index">Lista de Proveedores</a></li>
    </ul>

</div>
